/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
html{
    font-size: 62.5%;
    background: #222 url(../asset/snow.jpg)no-repeat fixed center center /cover;
    overflow-x: hidden;
}
body{
    font: 1.6rem "Poppins" ,sans-serif;
    margin: 0;
}
*{
    box-sizing: border-box;
}
p{
    line-height: 2.5rem;
}
address{
    font-style: normal;
}
h1,h2,h3,p,blockquote,figure,ul{
    padding: 0;
    margin: 0;
    list-style: none;

}
a{
    text-decoration:none;
    color: #222;
}
input {
    border: 0;
    font-size: inherit;
    transition: all 0.5rem ease-in-out;
}
button, select {
    border: 0;
    background-color: transparent;
    font-size: initial;
    text-transform: capitalize;
}

/* thème */

header{
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

header > h1{
    line-height: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #545454;
    font-size: 100%;
    margin: 2rem 0;
    vertical-align: auto;
}


main img {
    display: block;
    width: 100%;
}

header, main, footer{
    max-width: 80rem;
    padding: 1.0rem;
    margin: 2rem auto 1rem;
}

main div:first-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.0rem;
    text-align: center;
    margin-bottom: 4rem;
}

main h2 {
    font-size: 3rem;
    font-weight: bolder;
}

main img {
    box-shadow: 0 0 1.0rem #5b6061;
}

main div:last-child {
    margin-top: 10rem;
}

footer {
    text-align: center;
}

